.headerContainer {
  height: 4rem;
  background-color: #141a29;
  display: flex;
  align-items: center;
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  
  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  nav {
    margin: 0 10rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      font-weight: bold;
      line-height: 5rem;
      color: azure;

      & + a {
        margin-left: 2rem;
      }
    }

    transform: filter 0.2s;
    a:hover {
      color: #ffcc4a;
      transition: 0.3s;
      filter: brightness(0.8);
    }
  }

  button {
    margin-left: auto;
  }
}